:root {
    --primary-color: #42b983;
    --secondary-color: #35495e;
    --spacing-large: 2rem;
    /* --main-font-family: Georgia, 'Times New Roman', Times, serif; */
    /* --main-font-family: Arial; */
}

.hello-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: var(--spacing-large);
    color: var(--primary-color);
}

.title {
    color: var(--primary-color);
    font-size: 4.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin-bottom: 0px;
    animation: fadeIn 1.0s ease-in;
}

.subtitle {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin-bottom: var(--spacing-large);
    margin-top: 0px;
    animation: fadeIn 1.0s ease-in;
}

.content {
    text-align: center;
}

.greet-button {
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: 1rem;
    /* color: white; */
    /* background-color: var(--secondary-color); */
    background-color: var(--background-color);
    /* border: none; */
    color: var(--secondary-color);
    border-radius: 5px;
    border-bottom: var(--primary-color) 1px solid;
    border-top: var(--primary-color) 1px solid;
    cursor: pointer;
    animation: enterButtonIn 6.3s ease;
    text-decoration: none;
}

.greet-button:hover {
    background-color: var(--primary-color);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(5px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes enterButtonIn {
    from {
        transform: translateY(105px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}