.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: var(--spacing-large);
    animation: slideIn 0.5s ease-out;
}

.title {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: var(--spacing-large);
    animation: fadeIn 0.5s ease-in;
}

.content {
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(5px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}